<footer>
  <section class="diskette-graphic">
    <section class="disk-drive-top">
      <h4>Disk A</h4>
      <div class="disklight-left"></div>
    </section>
    <section class="disk-drive-bottom">
      <div class="leftside-disk"></div>
      <div class="middle-of-disk"></div>
      <div class="rightside-disk"></div>
    </section>
  </section>
  <h3>2025</h3>
  <section class="diskette-graphic">
    <section class="disk-drive-top">
      <h4>Disk B</h4>
      <div class="disklight-right"></div>
    </section>
    <section class="disk-drive-bottom">
      <div class="leftside-disk"></div>
      <div class="middle-of-disk"></div>
      <div class="rightside-disk"></div>
    </section>
  </section>
</footer>
