<header>
  <h1>&copy;Altrionyx</h1>
  <section class="on-off-button">
    <p>Off</p>
    <div class="off-button off-button-off"></div>
    <div class="on-button on-button-on">
      <div class="on-button-light on-button-light-on"></div>
    </div>
    <p>On</p>
  </section>
</header>
