/* Some fonts and default styling used throughout the page */

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 25%;
  width: 1.2em;
}

::-webkit-scrollbar-track {
  background: rgb(14, 201, 14);
  margin-block: 1em;
  border-radius: 100vw;
  margin-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(5, 68, 37);
  border: 5px solid rgb(14, 201, 14);
  border-radius: 100vw;
}

::-webkit-file-upload-button {
  background: rgb(11, 157, 11);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-color: rgb(244, 244, 190);
}

@keyframes flicker {
  0% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.95;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.95;
  }
  100% {
    opacity: 0.85;
  }
}

@keyframes screen-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes screen-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes diskA-light-flicker {
  0% {
    background-color: #ff0000; /* Bright red */
  }
  50% {
    background-color: #8b0000; /* Dark red */
  }
  100% {
    background-color: #ff0000; /* Bright red */
  }
}

@keyframes disk-light-flicker {
  0% {
    background-color: #ff0000; /* Bright red */
  }
  10% {
    background-color: #8b0000; /* Dark red */
  }
  25% {
    background-color: #ff0000; /* Bright red */
  }
  50% {
    background-color: #8b0000; /* Dark red */
  }
  100% {
    background-color: #ff0000; /* Bright red */
  }
  50% {
    background-color: #8b0000; /* Dark red */
  }
  0% {
    background-color: #ff0000; /* Bright red */
  }
  10% {
    background-color: #8b0000; /* Dark red */
  }
  25% {
    background-color: #ff0000; /* Bright red */
  }
  100% {
    background-color: #ff0000; /* Bright red */
  }
}

hr {
  border: 1px dashed greenyellow;
}

